html, body {
    background: linear-gradient(to bottom right, royalblue, steelblue);
    height: 100%
}
h1,h2 {
    color: white !important;
}
.formBox {
    background-color: lightgray;
    max-width: 40em !important;
}
.highlight {
    background-color: darkblue !important;
}
button:hover {
    background-color:#007bff;

}
.confirmation {
    font-style: italic
}
.buttons {
}
#span {
    background-color: red !important;
    
}